.main__pay-main-block,
.confirm-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none; 
  transition: 0.5s all;
  z-index: 100;
}

.main__pay-main-block.active,
.confirm-block.active { 
  opacity: 1; 
  pointer-events: all; 
  transition: 0.5s all;
}

.main__pay-block,
.confirm {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); 
  background: #fff;
  width: 400px;
  padding: 25px;
  transition: 0.5s all;
}

.confirm{
  width: max-content;
  height: max-content;
}

.main__pay-block.active,
.confirm {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}

.main__pay-block{
  height: 700px;
  width: 640px;
  margin: 50px 0;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: rgb(230, 230, 230);
  position: relative;
}

.pay-block__personal-details-title{
  font-size: 22px;
  width: max-content;
  margin: 15px auto 25px auto;
}

input{
  outline: none;
}

.pay-block__name-inp{
  margin-top: 5px;
}

.pay-inp{
  width: 550px;
  height: 40px;
  border: 1px solid gray;
  background-color: rgb(230, 230, 230);
  border-radius: 12px;
  padding: 2px 8px;
  font-size: 17px;
  color: grey;
  margin: 5px calc(50% - 280px);
}

.pay-block__card-info{
  background-color: rgb(163, 162, 162);
  width: 470px;
  height: 260px;
  border-radius: 12px;
  margin: 20px auto;
}

.pay-block__card-number{
  width: 450px;
  height: 40px;
  border-radius: 12px;
  margin: 25px calc(50% - 225px) 0 calc(50% - 225px);
  text-align: center;
  color: grey;
  letter-spacing: 1px;
  font-size: 22px;
}

.pay-block__card-type-img{
  width: 65px;
  height: 49px;
  margin: 30px 10px;
  border-radius: 10%;
  background-color: rgb(224, 224, 224);
  background-repeat: no-repeat;
}

.pay-block__info-about-cart{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.pay-block__card-month-year-block,
.pay-block__card-CVV-block{
  display: flex;
  height: max-content;
  align-items: center;
  margin: 0 10px;
}

.pay-block__CVV-title,
.pay-block__month-year-title{
  font-size: 22px;
}

.pay-block__cvv-inp,
.pay-block__date-inp{
  height: 38px;
  width: 80px;
  border: 1px solid black;
  border-radius: 14px;
  text-align: center;
  margin-left: 12px;
  font-size: 18px;
}

.pay-block__footer-btns-block{
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.pay-block__submit,
.pay-block__close{
  width: 120px;
  height: 40px;
  border-radius: 7px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 40px;
}

.pay-block__submit{
  margin-right: 20px;
  background-color: rgb(94, 190, 94);
}

.pay-block__submit:hover{
  background-color: rgb(54, 184, 54);
}

.pay-block__close{
  background-color:  rgb(221, 107, 107);
}

.pay-block__close:hover{
  background-color: rgb(206, 55, 55);
}

.confirm__order{
  width: max-content;
  height: max-content;
  font-size: 30px;
  margin: 15px auto;
  color: rgb(54, 184, 54);
}

.confirm__order:last-child{
  color: rgb(206, 55, 55);
}